
	/* General layout */
	body {
		font-family: Roboto, sans-serif;
		/*background-color: #dbdbd3;*/
		margin: 0;
		padding: 0;
		display: flex;
		background-image:url(background.png);
		background-size: cover;
		background-position: center;
		justify-content: center;
		align-items: center;
	
	}
	.parent-row{ display: flex; }
	.banner {
		position: fixed;
		top: 0;
		width: 100%;
		
	}
	.banner img {
		width: 100%;
		max-height: 100px;
	}
	.header-search{
		display: flex;
		margin-top: 5px; 
		align-items: right;
	}
	.header-search{ justify-content: right; }
	
	.box-item{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: left;
		margin-top: 8px;
		margin-bottom: 8px;
		margin-left: 8px;
	}
	.box-item > img{
		border-radius: 100%;
		width: 50px;
		height: 50px;
		margin-right: 10px;
	}
	
	.header-profile{ padding-right: 30px; }
		.header-profile > div.box-item{ 
			justify-content: right;
		}

	/* Header layout */
	
	
	.main-area{ 
	    height: 1200px;
		margin-top: 75px;
	}
    .menu{ 
        width: 25%; 
     }
    .posts{ width: 50%;}
    .friends{ 
        width: 25%;
        padding-right: 20px;
		padding-top: 100px;

    }
    .friends > .bounded-box, .posts > .bounded-box { 
        padding-top: 8px;
    }

    /* For the box items with rounded images*/
	.box-parent{
	    display: flex;
	    flex-direction: column;
	}
	.box-item{
	    width: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: left;
	    margin-top: 8px;
	    margin-bottom: 8px;
	    margin-left: 8px;
	}
	.box-item > img{
	    border-radius: 100%;
	    width: 50px;
	    height: 50px;
	    margin-right: 15px;
	}
	.box-item > strong{ font-size: 16px; }
	
	/* For the bounded box area */
	.bounded-box{ padding: 2%; }
	.bounded-box-inner{
	    padding: 2%;
	    border: 1px solid DimGray;
	    border-radius: 2%;
	}
	.inner-header{ text-align: center; font-size: 32px; }
	.inner-image { width: 100%; }
	.inner-image > img{ width: 100%; }
	.inner-like > img{ width: 50px; height: 50px; }
